<!DOCTYPE html>
<html>

<head>
    <title>Curriculum</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <h1>Curriculum!</h1>
    <div>
        <div>
            <img src="../img/doggy.png" alt="">
        </div>
        <div class="container-main">
            <p>Nombre: {{ cristian['nombre'] }}</p>
            <p>Apellido: {{ cristian['apellido'] }}</p>
            <p>Mail: {{ cristian['mail'] }}</p>
            <p>Movil: {{ cristian['movil'] }}</p>
        </div>
    </div>



</body>

</html>